body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, cornflowerblue, deepskyblue);
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.container {
    width: 80%;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Share Post Frame */
.share-post-frame {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9ff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Post Form */
.post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-form textarea {
    width: 97%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.post-form button {
    background-color: #6f93e2;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 14px; 
    width: auto; 
    align-self: flex-end; 
}


input[type="file"] {
    border: none;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #6f93e2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/*Tags Grid */
.tags-grid-container {
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-top: 7px;
}

.tags-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    width: 100%; 
    gap: 5px 7px;
    margin-bottom: 20px;
}

.tags-grid label {
    font-size: 14px;
    margin-right: 10px;
}

/* add checkboxes */
.tags-grid div {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.tags-grid input {
    margin-right: 5px;
}



/* Recent Posts  */
.post {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.post img {
    max-width: 100%;
    border-radius: 6px;
    margin: 10px 0;
}

/* User Info  */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

/* Toggle view Comments Button */
.toggle-comments-button {
    background-color: #6f93e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}


/* add Comment */
.comment-form {
    display: flex;
    align-items: center; 
    margin-top: 10px;
    width: 97%;
    gap: 10px; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
    font-size: 12px;
    width: 70%; 
    height: 25px;
}

.comment-form button {
    background-color: #6f93e2;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    width: 25%; 
}
