<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotPW.css') }}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <form method="POST">
        <div class="container">
        <label for="email">Please enter the email you've registered with:</label><br>
        <input type="email" id="email" name="email" placeholder="email@email.com"><br>
        <button type="submit" value="email_entered">Go</button>
        </div>

    {% if show_sq %}
        <div class="container">
            <label for="answer">{{ security_question }}</label><br>
            <input type="text" id="answer" name="answer"><br>
            <button type="submit" value="sec_ans">Verify Account</button>
        </div>
    {% endif %} 

{% if show_pw_change %}
    <div class="container">
    <label for="new_pw">Please enter your new password:</label><br>
    <input type="password" id="new_pw" name="new_pw" required><br>
    <button type="submit" value="waa">Adjust Password</button>
    </div>
    </form>
{% endif %}
</body>
</html>