<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    {# initial homepage showing user role & name #}
    <img src="{{ img }}" alt="Profile photo">
    <h3>Welcome {{ user[4] }} {{ user[1] }} :D</h3>
    {# button to logout #}
    <form action="/logout" method="POST">
        <button type="submit" value="Logout">Logout</button>
    </form>
</body>
</html>
