<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/login" method="POST">
    <p>
        <label for="Email">Email</label>
        <input type="Email" id="Email" name="Email">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <p>
        <input type="submit" value="Go!">
    </p>
</form>
    <p>
        <input type="button" id="forgotPassword" value="Forgot Password?">
        <br>
    </p>
<form method="POST" action="/signUp">
    <p>
        No account?
        <button type="submit">Sign Up!</button>
    </p>
</form>    
</body>
</html>

