<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<h3>Login</h3>
{# space for showing a message when a user enters unavailable credentials #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{# take user email & password for login #}
<form action="/login" method="POST">
    <p class="pgo">
        <input type="Email" id="Email" name="Email" placeholder="Email">
    </p>
    <p class="pgo">
        <input type="password" id="password" name="password" placeholder="Password">
    </p>
    {# button to login #}
    <div class="go-button-container">
        <button type="submit" value="Go!" class="go">Go!</button>
    </div>
</form>

{# options if the user cannot login #}
<p class="noacc">
    <span>Cannot Login?</span>
    <div class="button-container">
        {# if they forgot their password #}
        <form method="POST" action="/forgotPW">
            <button type="submit" class="forgot">Forgot Password?</button>
        </form>
        {# if they don't have an account yet #}
        <form method="POST" action="/signUp">
            <button type="submit" class="signup">Sign Up!</button>
        </form>
    </div>
</p>


</body>
</html>

