<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_trainee_stats.css') }}">
</head>
<body>
<img src="{{ pfp }}" alt="Profile photo">
<div class="top-banner">
    <p>
        {{ gen_info[1] }} <br>
        Age: {{ gen_info[5] }}<br>
        Height: {{ trainee_info[3] }} m
        <form method="post">
            <button type="submit">Edit Profile</button>
        </form>
    </p>
</div>
<div class="redirections">
    <form action="/profileTraineeStats">
        <button type="submit" name="stats">Statistics</button>
    </form>
    <form action="/profileTraineePosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileTraineePlan">
        <button type="submit" name="plan">My Plan</button>
    </form>
</div>
<div class="content">
    <p>
        {# workout #}
        {# calories #}
        BMI: {{ trainee_info[4] }}<br>
        Weight: {{ trainee_info[2] }}<br>
    </p>
</div>

</body>
</html>