<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_trainee_stats.css') }}">
</head>
<body>
<div class="top-banner">
    <div class="user-info-wrapper">
    <img src="{{ pfp }}" alt="Profile photo">
        <p>
            {{ gen_info[1] }} <br>
            Age: {{ gen_info[5] }}<br>
            Height: {{ trainee_info[2] }} m
        </p>
    </div>
            <form action="/editProfileTrainee">
                <button type="submit">Edit Profile</button>
            </form>
</div>
<div class="redirections">
    <form action="/profileTraineeStats">
        <button type="submit" name="stats">Statistics</button>
    </form>
    <form action="/profileTraineePosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileTraineePlan">
        <button type="submit" name="plan">My Plan</button>
    </form>
</div>
<div class="content">
    <p>
        BMI: {{ trainee_info[3] }}<br>
        Weight: {{ trainee_info[1] }} KG<br>
        Nutrition information for the day:<br>
        {% if nutrition_flag %}
            Calories consumed: {{ nutrition[3] }}<br>
            Protein consumed: {{ nutrition[5] }}<br>
            Carbs consumed: {{ nutrition[4] }}<br>
            Fat consumed: {{ nutrition[2] }}<br>
        {% endif %} 
        {% if not nutrition_flag %}
            No nutrition information yet, bet you're starving!
        {% endif %}
        Total exercise time: {{ workout_time }} hours<br>
        Exercises done: <br>
        {% if exercise_flag %}
            {% for exercise in exercises %}
                <img src="{{ exercise[0] }}" alt="img"> {{ exercise[1] }}<br>
            {% endfor %}
        {% endif %} 
        {% if not exercise_flag %}
            No exercises done yet, get up & moving!
        {% endif %}
    </p>
        <form method="post">
            <button type="submit">Add Exercise Time</button>
        </form>

</div>

</body>
</html>