<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_coach_information.css') }}">
</head>
<body>
<div class="top-banner">
    <div class="user-info-wrapper">
        <img src="{{ pfp }}" alt="Profile photo">
        <p>
            {{ gen_info[1] }} <br>
            Coach<br>
            Age: {{ gen_info[5] }}<br>
        </p>
    </div>
    <form action="/editProfileCoach">
        <button type="submit">Edit Profile</button>
    </form>
</div>
<div class="redirections">
    <form action="/personalProfileCoachInformation">
        <button type="submit" name="info">Information</button>
    </form>
    <form action="/profileCoachPosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileCoachTrainees">
        <button type="submit" name="trainees">My Trainees</button>
    </form>
    <form action="/profileCoachRecipes">
        <button type="submit" name="recipes">My Recipes</button>
    </form>
    <form action="/profileCoachExercises">
        <button type="submit" name="exercises">My Exercises</button>
    </form>
</div>
<div class="content">
    <div class="title">
        Years of experience:<br>
    </div>
    <p>
        {{ coach_info[3] }}<br>
    </p>
    <div class="title">
        Description:<br> 
    </div>
    <p>
        {{ coach_info[2] }}<br>
    </p>
    <div class="title">
        Certificates:<br>
    </div>
        {% for certificate in certificates %}
        	<a href="{{ certificate }}">Check it out!</a><br>
        {% endfor %}
        
</div>
</body>
</html>