<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_trainee_plan.css') }}">
</head>
<body>
<div class="top-banner">
    <div class="user-info-wrapper">
        <img src="{{ pfp }}" alt="Profile photo">
        <p>
            {{ gen_info[1] }} <br>
            Age: {{ gen_info[5] }}<br>
            Height: {{ trainee_info[3] }} m
        </p>
    </div>
    <form action="/editProfileTrainee">
        <button type="submit">Edit Profile</button>
    </form>
</div>
<div class="redirections">
    <form action="/profileTraineeStats">
        <button type="submit" name="stats">Statistics</button>
    </form>
    <form action="/profileTraineePosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileTraineePlan">
        <button type="submit" name="plan">My Plan</button>
    </form>
</div>

<div class="content">
<h3>Today's exercises:</h3>
<div class="congrats">
    <form action="/saveAllPlan">
        <button type="submit">Finished Entire Plan!</button>
    </form>
</div>
    <p>
        {% for exercise in exercises %}
            <div class="exercise">
            <div class="exercise-data">
                <img src="{{ exercise[0] }}" alt="img"> {{ exercise[1] }}<br> {{ exercise[2] }} seconds<br>
            </div>
                <form method="POST" action="/saveExercise">
                    <input type="hidden" name="saveExercise" value="{{exercise[3]}}">
                    <button type="submit" class="saveExercise">Exercise Done :)</button>
                </form>
            </div>
        {% endfor %}
    </p>
</div>
</body>
</html>