<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_trainee_posts') }}">
</head>
<body>
<img src="{{ pfp }}" alt="Profile photo">
<div class="top-banner">
    <p>
        {{ gen_info[1] }} <br>
        Age: {{ gen_info[5] }}<br>
        Height: {{ trainee_info[3] }} m
    <form method="post">
        <button type="submit">Edit Profile</button>
    </form>
    </p>
</div>
<div class="redirections">
    <form action="/profileTraineeStats">
        <button type="submit" name="stats">Statistics</button>
    </form>
    <form action="/profileTraineePosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileTraineePlan">
        <button type="submit" name="plan">My Plan</button>
    </form>
</div>
<div class="container">
<h3>My Posts</h3>
{% for post_data in posts_with_comments %}
<div class="post">
    <div class="user-info">
        <img src="{{ url_for('static', filename='user_images/' + post_data['post']['User_ID'] + '.jpg') }}" alt="User Image" class="user-image">
        <h4>{{ post_data['post']['Username'] }}</h4>
    </div>
    <div class="post-content">
        <p>{{ post_data['post']['Content'] }}</p>
        {% if post_data['post']['Media'] %}
            <img src="{{ post_data['post']['Media'] }}" alt="Post Media" class="post-media">
        {% endif %}
    </div>
    {% if post_data['comments']|length > 0 %}
        <button class="toggle-comments-button" id="button-{{ post_data['post']['Post_ID'] }}" onclick="toggleComments({{ post_data['post']['Post_ID'] }})">View Comments</button>
    {% endif %}
    <div class="comments" id="comments-{{ post_data['post']['Post_ID'] }}">
        {% for comment in post_data['comments'] %}
            <div class="comment">
                <p><strong>{{ comment['Username'] }}:</strong> {{ comment['Content'] }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
<script>
    function toggleComments(postID) {
        const commentsDiv = document.getElementById('comments-' + postID);
        const button = document.getElementById('button-' + postID);

        if (commentsDiv.style.display === 'block') {
            commentsDiv.style.display = 'none';
            button.textContent = 'View Comments';
        } else {
            commentsDiv.style.display = 'block';
            button.textContent = 'Hide Comments';
        }
    }
</script>
</body>
</html>