<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='role.css') }}">
</head>
<body>
<div class="gradient-container">
    <div class="role">
        <h3>Choose your role:</h3>
        {# redirect new user to trainee sign-up page #}
        <form method="post" action="/signUp">
            <input type="hidden" name="role" value="Trainee">
            <button type="submit">Trainee</button>
        </form>
        {# redirect new user to coach sign-up page #}
        <form method="post" action="/signUp">
            <input type="hidden" name="role" value="Coach">
            <button type="submit">Coach</button>
        </form>
    </div>
</div>
</body>
</html>
