<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='traineesignup.css') }}">
</head>
<body>
<h3>Trainee</h3>
<form action="/trainee" method="POST">
    <p>
        <input type="text" id="username" name="username" required placeholder="Name">
        <br>
        <input type="email" id="email" name="email" required placeholder="Email">
        <br>
        <input type="number" id="age" name="age" required placeholder="Age">
        <br>
        <input type="number" id="weight" name="weight" required placeholder="Weight (KG)">
        <br>
        <input type="number" step="0.01" id="height" name="height" required placeholder="Height (M) e.g. 1.8">
        <br><br>
        Gender: <br>
        <input type="radio" id="Female" name="gender" value="Female">
        <label for="Female">Female</label><br>
        <input type="radio" id="Male" name="gender" value="Male">
        <label for="Male">Male</label><br>
        <br><br>
        Exercise Level: <br>
        <input type="radio" id="Beginner" name="exercise" value="Beginner">
        <label for="Beginner">Beginner</label><br>
        <input type="radio" id="Intermediate" name="exercise" value="Intermediate">
        <label for="Intermediate">Intermediate</label><br>
        <input type="radio" id="Advanced" name="exercise" value="Advanced">
        <label for="Advanced">Advanced</label><br>
        <br>
        Check all your interests:
        {% for interest in interests %}
            <div>
                <input type="checkbox" id="interest-{{ interest[0] }}" name="interests" value="{{ interest[0] }}">
                <label for="interest-{{ interest[0] }}">{{ interest[1] }}</label>
            </div>
        {% endfor %}
    <br>
    <input type="password" id="password" name="password" required placeholder="Password">
    <br>
    <button type="submit">Sign Up!</button>
    </p>
</form>
</body>
</html>