<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {# link to stylesheet #}
    <link rel="stylesheet" href="{{ url_for('static', filename='personal_profile_trainee_stats.css') }}">
</head>
<body>
<div class="top-banner">
    <div class="user-info-wrapper">
        <img src="{{ pfp }}" alt="Profile photo">
        <p>
            {{ gen_info[1] }} <br>
            Coach<br>
            Age: {{ gen_info[5] }}<br>
        </p>
    </div>
    <form action="/editProfileCoach">
        <button type="submit">Edit Profile</button>
    </form>
</div>
<div class="redirections">
    <form action="/profileCoachInformation">
        <button type="submit" name="info">Information</button>
    </form>
    <form action="/profileCoachPosts">
        <button type="submit" name="posts">My Posts</button>
    </form>
    <form action="/profileCoachTrainees">
        <button type="submit" name="trainees">My Trainees</button>
    </form>
    <form action="/profileCoachRecipes">
        <button type="submit" name="recipes">My Recipes</button>
    </form>
    <form action="/profileCoachExercises">
        <button type="submit" name="exercises">My Exercises</button>
    </form>
</div>

<div class="content">
    <p>
        BMI: {{ trainee_info[4] }}<br>
        Weight: {{ trainee_info[2] }} KG<br>
        Nutrition information for the day:<br>
        Calories consumed: {{ nutrition[0] }}<br>
        Carbs consumed: {{ nutrition[1] }}<br>
        Protein consumed: {{ nutrition[2] }}<br>
        Fat consumed: {{ nutrition[3] }}<br>
        Total exercise time: {{ workout_time }}<br>
        Exercises done: {% for exercise in exercises %}
        <img src="{{ exercise[0] }}" alt="img"> {{ exercise[1] }}<br>
    {% endfor %}
    </p>
    <form method="post">
        <button type="submit">Add Exercise Time</button>
    </form>

</div>
</body>
</html>